<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="oracle.manageddataaccess.client"
      type="OracleInternal.Common.ODPMSectionHandler, Oracle.ManagedDataAccess, Version=4.122.18.3, Culture=neutral, PublicKeyToken=89b483f429c47342"/>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="TECADIS.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
    <system.data>
        <DbProviderFactories>
            <remove invariant="Oracle.ManagedDataAccess.Client"/>
            <add name="ODP.NET, Managed Driver" invariant="Oracle.ManagedDataAccess.Client" description="Oracle Data Provider for .NET, Managed Driver"
                type="Oracle.ManagedDataAccess.Client.OracleClientFactory, Oracle.ManagedDataAccess, Version=4.122.18.3, Culture=neutral, PublicKeyToken=89b483f429c47342"/>
        </DbProviderFactories>
    </system.data>
    <runtime>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <dependentAssembly>
                <publisherPolicy apply="no"/>
                <assemblyIdentity name="Oracle.ManagedDataAccess" publicKeyToken="89b483f429c47342" culture="neutral"/>
                <bindingRedirect oldVersion="4.122.0.0 - 4.65535.65535.65535" newVersion="4.122.18.3"/>
            </dependentAssembly>
        </assemblyBinding>
    </runtime>
    <oracle.manageddataaccess.client>
        <version number="*">
            <dataSources>
              <dataSource alias="1I"
                     descriptor="(DESCRIPTION=(ADDRESS=(PROTOCOL=tcp)(HOST=177.168.2.3)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=jnle.606894965.oraclecloud.internal))) "/>
              <dataSource alias="1E"
                   descriptor="(DESCRIPTION=(ADDRESS=(PROTOCOL=tcp)(HOST=144.22.98.100)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=jnle.606894965.oraclecloud.internal))) "/>
              <dataSource alias="2I"
                  descriptor="(DESCRIPTION=(ADDRESS=(PROTOCOL=tcp)(HOST=177.168.0.2)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=boavista.606894965.oraclecloud.internal))) "/>
              <dataSource alias="3I"
                 descriptor="(DESCRIPTION=(ADDRESS=(PROTOCOL=tcp)(HOST=177.168.0.3)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=macapa.606894965.oraclecloud.internal))) "/>
              <dataSource alias="3E"
                 descriptor="(DESCRIPTION=(ADDRESS=(PROTOCOL=tcp)(HOST=144.22.111.193)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=macapa.606894965.oraclecloud.internal))) "/>
              <dataSource alias="5I"
                  descriptor="(DESCRIPTION=(ADDRESS=(PROTOCOL=tcp)(HOST=177.168.1.4)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=trsn.606894965.oraclecloud.internal))) "/>
              <dataSource alias="5E"
                 descriptor="(DESCRIPTION=(ADDRESS=(PROTOCOL=tcp)(HOST=144.22.106.208)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=trsn.606894965.oraclecloud.internal))) "/>
              <dataSource alias="6E"
                descriptor="(DESCRIPTION=(ADDRESS=(PROTOCOL=tcp)(HOST=144.22.108.92)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=saoluis.606894965.oraclecloud.internal))) "/>
              <dataSource alias="6I"
                descriptor="(DESCRIPTION=(ADDRESS=(PROTOCOL=tcp)(HOST=177.168.1.2)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=saoluis.606894965.oraclecloud.internal))) "/>
              <dataSource alias="7E"
                  descriptor="(DESCRIPTION=(ADDRESS=(PROTOCOL=tcp)(HOST=144.22.106.21)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=petro.606894965.oraclecloud.internal))) "/>
              <dataSource alias="7I"
                  descriptor="(DESCRIPTION=(ADDRESS=(PROTOCOL=tcp)(HOST=177.168.1.3)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=petro.606894965.oraclecloud.internal))) "/>
              <dataSource alias="8E"
                  descriptor="(DESCRIPTION=(ADDRESS=(PROTOCOL=tcp)(HOST=144.22.106.107)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=londrina.606894965.oraclecloud.internal))) "/>
              <dataSource alias="8I"
                  descriptor="(DESCRIPTION=(ADDRESS=(PROTOCOL=tcp)(HOST=177.168.2.2)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=londrina.606894965.oraclecloud.internal))) "/>
            </dataSources>
        </version>
    </oracle.manageddataaccess.client>
    <applicationSettings>
        <TECADIS.My.MySettings>
            <setting name="ocuser" serializeAs="String">
                <value>sys</value>
            </setting>
            <setting name="ocdblvl" serializeAs="String">
                <value>SYSDBA</value>
            </setting>
            <setting name="ocmainsrc" serializeAs="String">
                <value>VIW_INT_PAGTO_CONCESSIONARIA</value>
            </setting>
            <setting name="ocpwd" serializeAs="String">
                <value>Joinville5ch1#</value>
            </setting>
            <setting name="oFilial" serializeAs="String">
                <value>1I</value>
            </setting>
            <setting name="ocdatabase" serializeAs="String">
                <value>PONTA NEGRA_ TESTE</value>
            </setting>
            <setting name="sapserver" serializeAs="String">
                <value>SRFGBSAP\SRFGBSAP</value>
            </setting>
            <setting name="sapdbtype" serializeAs="String">
                <value>dst_MSSQL2016</value>
            </setting>
            <setting name="sapappuser" serializeAs="String">
                <value>manager</value>
            </setting>
            <setting name="sapapppwd" serializeAs="String">
                <value>gb$@p123</value>
            </setting>
            <setting name="sapapplang" serializeAs="String">
                <value>ln_English</value>
            </setting>
            <setting name="saplicensesrv" serializeAs="String">
                <value>SRFGBSAP:30000</value>
            </setting>
            <setting name="sapBPSeries" serializeAs="String">
                <value>74</value>
            </setting>
        </TECADIS.My.MySettings>
    </applicationSettings>
</configuration>