<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <log4net>
    <appender name="info" type="log4net.Appender.RollingFileAppender">
      <file value="log\app.log" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="3" />
      <maximumFileSize value="100MB" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level - [%logger] %message%newline" />
      </layout>
	  <threshold value="INFO" />
    </appender>
    <logger name="logmng">
      <level value="ALL" />
      <appender-ref ref="info" />
    </logger>
  </log4net>
</configuration>